.footer{
    width: 100vw;
    border-radius: 20px;
    background: rgba(241, 241, 241, 0.95);
    padding: 48px 0;
}
.footer__wrap{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}
.footer__section_2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 38px;
}
.footer__rules_link{
    color: #4B4B4B;
    font-size: 24px;

}
.footer__section_3{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 750px;
    width: 100%;
    gap: 24px;

}
.footer__map{
    height: 233px;
    width: 100%;
    position: relative;
}
.footer__map_frame{
    border-radius: 20px;
    max-width: 380px;
    display: flex;
    align-items: start;
    gap: 16px;
    justify-content: space-between;
    padding: 12px;
    color: #FFF;
    font-size: 16px;
    position: absolute;
    z-index: 50;
    bottom: 16px;
    left: 22px;
    
}
.footer__map iframe{
    border: none;
    outline: none;
    border-radius: 20px; 
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.frame_color_1{
    background: #874995; 
}

.frame_color_2{
    background: #7ABDBF; 
}
