.rules{
    width: 100vw;
    border-radius: 20px;
    background: rgba(241, 241, 241, 0.95);
    margin-bottom: 53px;
}
.rules__wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 74px;
    padding: 48px;
    height: 100%;
}
.rules__title_wrap{
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
}
.rules__title{
    color: #4B4B4B;
    font-size: 36px;
    text-transform: capitalize;
}
.rules__title-hr{
    width: 100%;
    border-bottom: 1px solid #B8B8B8;
}
.rules__items_wrap{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 74px;
    column-gap: 24px;
}   
.rules__item{
    max-width: 306px;

    display: flex;
    flex-direction: column;
}
.rules__item_header{
    display: flex;
    align-items: center;
    gap: 34px;
    margin: 16px;
}
.rules__item_header_num{
    color: #C93075;
    font-size: 64px;
    text-transform: capitalize; 
}
.rules__item{
    color:  #4B4B4B;
    font-size: 16px;
    align-self: stretch; 
}